.vscode/
__deploy_root/
backups/

KlodtStudio_lastworks.pdf
logos.png
portfolio.html.broken.backup

assets/images/powerstart/Untitled
assets/images/brands/clients_preview.png
assets/images/brands/clients_preview_check.png
assets/images/brands/abbotthome.png
assets/images/brands/abbotthome_mob.png
assets/images/brands/baby_plus.png
assets/images/brands/baby_plus_mob.png
assets/images/brands/chocokey.png
assets/images/brands/chocokey_mob.png
assets/images/brands/frost_pro.png
assets/images/brands/frost_pro_mob.png

portfolio/OlivaItalia.ru/
portfolio/Regmt.ru/
portfolio/Skstoletie.ru/
portfolio/Sturmanklie.com/
portfolio/Unlyme.com/
portfolio/gapbrain.ru/
portfolio/Поселки.рф/
